# update hosts file in all servers
{% for host in groups.kafka_zk %}
{{ hostvars[host].ipv4_address|default(hostvars[host]['ansible_default_ipv4']['address']) }} kafka.{{ loop.index }}
{% endfor %}