# the directory where the snapshot is stored.
dataDir={{ zookeeper_data_dir }}

# the port at which the clients will connect
clientPort={{ zookeeper_port }}

maxClientCnxns={{ max_client_connection }}

server.1=kafka1.stageinternal.com:2888:3888
server.2=kafka2.stageinternal.com:2888:3888

#server.1={{ ip1 }}:2888:3888
#server.2={{ ip2 }}:2888:3888
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}
tickTime={{ tick_time }}

# Disable the adminserver by default to avoid port conflicts.
# Set the port to something non-conflicting if choosing to enable this
admin.enableServer=false
# admin.serverPort=8080